# GitHub CODEOWNERS file is a simple way to automate review system on github,
# by automatically assigning owners to a pull request based on which files
# were modified. All directories should have a proper codeowner
# Syntax: https://help.github.com/articles/about-codeowners/

# Note: last match wins

# By Default reviews go to the infrastructure community, to address missing lines in this document.
*                                     @AlexanderLanin @dcalavrezo-qorix

# All special files go to infrastructure as well
.*                                    @AlexanderLanin @dcalavrezo-qorix

.github/ISSUE_TEMPLATE/               @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
.github/CODEOWNERS                    @antonkri @FScholPer @qor-lb @johannes-esr

/docs/                                @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
/docs/conf.py                         @AlexanderLanin @dcalavrezo-qorix
/docs/contribute/                     @eclipse-score/automotive-score-committers
# /docs/features/                     @eclipse-score/automotive-score-technical-leads
/docs/features/                       @antonkri @FScholPer @qor-lb @johannes-esr
architecture/                         @eclipse-score/automotive-score-committers
# requirements/                       @eclipse-score/automotive-score-technical-leads
requirements/                         @antonkri @FScholPer @qor-lb @johannes-esr
# safety_analysis/                    @eclipse-score/safety-managers
safety_analysis/                      @aschemmel-tech @PhilipPartsch @masc2023
# safety_planning/                    @eclipse-score/automotive-score-technical-leads
safety_planning/                      @antonkri @FScholPer @qor-lb @johannes-esr
verification/                         @eclipse-score/automotive-score-committers
/docs/design_decisions/*infra*        @AlexanderLanin @dcalavrezo-qorix
/docs/glossary/                       @eclipse-score/automotive-score-committers
/docs/introduction/                   @eclipse-score/automotive-score-committers
/docs/manuals/                        @eclipse-score/automotive-score-committers
/docs/modules/                        @eclipse-score/automotive-score-committers
# /docs/platform_management_plan/     @eclipse-score/community-process
/docs/platform_management_plan/       @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
# /docs/quality/                      @eclipse-score/quality-managers
/docs/quality/                        @masc2023 @pahmann @PandaeDo
# /docs/requirements/stakeholder/     @eclipse-score/automotive-score-technical-leads
/docs/requirements/stakeholder/       @antonkri @FScholPer @qor-lb @johannes-esr
# /docs/requirements/tool/            @eclipse-score/community-process
/docs/requirements/tool/              @pahmann @PhilipPartsch @masc2023 @aschemmel-tech
# /docs/safety/                       @eclipse-score/safety-managers
/docs/safety/                         @aschemmel-tech @PhilipPartsch @masc2023 @PandaeDo
# /docs/score_releases/               @eclipse-score/automotive-score-project-leads
/docs/score_releases/                 @thilo-schmitt @HartmannNico @skappel29 @grandyholger
/docs/score_tools/                    @eclipse-score/automotive-score-committers
# /docs/security/                     @eclipse-score/security-managers
/docs/security/                       @masc2023 @PandaeDo
# /docs/verification_report           @eclipse-score/automotive-score-technical-leads
/docs/verification_report             @antonkri @FScholPer @qor-lb @johannes-esr

/platform_integration_tests/          @eclipse-score/automotive-score-committers
# /tools/                             @eclipse-score/infrastructure-maintainers
/tools/                               @AlexanderLanin @dcalavrezo-qorix
