--extra-index-url https://pypi.org/simple/

Sphinx

# At least 4.2.0, as it fixes a bug in combination with esbonio live preview:
# https://github.com/useblocks/sphinx-needs/issues/1350
sphinx-needs>=4.2.0

pydata-sphinx-theme
sphinx-design

# esbonio >= 1 comes bundled with the esbonio extension >= 1.
# esbonio<1 is required for the esbonio extension <1
# So what we need to install here is esbonio<1
esbonio<1
